/*---------------------------------------------- 
0. RESET & CLEARFIX
------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
.overlaycaption, figure,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,																			
table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0;
	border: 0;
	outline: 0;
	font-family: 'Questrial', sans-serif;
}

/*---------------------------------------------- 
1. NAVBAR
------------------------------------------------*/
nav {
	margin-top: 25px;
}

#sideNav img {
	border-radius: 3px;
	margin: 0 auto;
}

li {
	font-size: 18px;
	list-style: none;
	font-weight: bold;
}

li a {
	position: relative;
	/*text-decoration: none;*/
	color: black;
	-webkit-transition: color 0.4s ease-out;
	-moz-transition: color 0.4s ease-out;
	-o-transition: color 0.4s ease-out;
}

nav li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  color: #A1416A;
  background-color: #A1416A;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav li > a:hover, a:hover:before, a:focus{
	visibility: visible;
	text-decoration: none;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
	color: #A1416A;
}

#name {
	font-size: 34px;
	font-weight: bold;
}

/*---------------------------------------------- 
2. PROJECTS
------------------------------------------------*/
.box {
	border-radius: 4px;
	padding: 15px 0;
	-webkit-transition: background-color 0.4s ease-out;
	-moz-transition: background-color 0.4s ease-out;
	-o-transition: background-color 0.4s ease-out;
}

.box:hover {
	background-color: #A1416A;
}

.box p, h4 {
	color: white;
	margin: 0;
	letter-spacing: 0.2px;
	font-weight: bold;
}

.projects {
	height: 140px;
	width: 220px;
	margin: 20px;
}

#projectContainer {
	margin-top: 55px;
}

#main {
	margin: 15px 0 90px 0;
}

main h1 {
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 44px;
}

#particles-js {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
/*---------------------------------------------- 
3. ABOUT
------------------------------------------------*/
#about h1 {
	margin-top: 30px;
}

#about p {
	font-size: 22px;
	margin: 40px auto 70px;
	letter-spacing: 0.5px;
	width: 85%;
}

span {
	font-weight: bold;
	font-size: 26px;
}

#about a {
	text-decoration: none;
	color: #A1416A;
}

/*---------------------------------------------- 
4. FOOTER
------------------------------------------------*/

footer {
	margin: 20px 0px;
	padding: 20px 10px;
	background-color: #F9F9F9;
}

h5 {
	display: inline-block;
}

#footerLinks {
	float: right;
}

#footerLinks li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}

#footerLinks > li a:hover, a:focus {
	text-decoration: none;
	color: #A1416A;
}

#googleMaps {
	width: 50%;
	height: 350px;
	margin: 50px 0 100px 0;
}


/*---------------------------------------------- 
* MEDIA QUERIES
------------------------------------------------*/


@media(max-width: 1366px) {
	.box p {
		font-size: 12px;
	}
}

@media(max-width: 1024px) {
	#projectContainer {
		margin-top: 0px;
	}
	li {
		font-size: 14px;
	}
	#sideNav img {
		height: 300px;
		width: 200px;
		margin: 0 auto;
	}
	.box h4 {
		font-size: 14px;
	}
	.box p {
		font-size: 10px;
	}
	#about p {
		margin: 40px auto 90px auto;
		font-size: 18px;
	}
	span {
		font-size: 22px;
	}
	.fa-2x {
		font-size: 1em;
	}
	footer {
		padding: 10px 5px;
	}
	#footerLinks {
		margin-top: 10px;
	}
	.projects {
		height: 120px;
		width: 180px;
	}
}

@media(max-width: 768px) {
	.projects {
		height: 180px;
		width: 300px;
		margin: 20px auto;
	}
	.box p {
		font-size: 14px;
	}
	.box h4 {
		font-size: 18px;
	}
	h5 {
		margin: 10px 0 0 120px;
	}
	.col-xs-4 {
		width: 50%;
	}
}

@media(max-width:710px) {
	.projects {
		height: 150px;
		width: 250px;
	}
}

@media(max-width: 685px) {
	.projects {
		height: 130px;
		width: 230px;
	}
	.box p {
		font-size: 12px;
	}
}

@media(max-width: 600px) {
	.box p {
		font-size: 10px;
	}
}

@media(max-width: 570px) {
	.col-xs-4 {
		width: 100%;
	}
}

@media(max-width: 414px) {
	#sideNav img {
		width: 290px;
		height: 420px;
	}
	#footerLinks {
		float: none;
	}
	footer {
		padding: 0;
	}
	#main {
		margin: 50px 0 100px 0;
	}
	h5 {
		margin: 10px 0;
	}
	span {
		font-size: 18px;
	}
	#footerLinks {
		margin-top: 0;
	}
}

@media(max-width: 360px) {
	#sideNav img {
		width: 220px;
		height: 340px;
	}
}

@media(max-width: 320px) {
	#sideNav img {
		width: 200px;
		height: 310px;
	}
}
