/*---------------------------------------------- 
0. RESET & CLEARFIX
------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
.overlaycaption, figure,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,																			
table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0;
	border: 0;
	outline: 0;
	font-family: 'Questrial', sans-serif;
}

li {
	font-size: 18px;
	list-style: none;
	font-weight: bold;
}

li a {
	position: relative;
	/*text-decoration: none;*/
	color: black;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
}

nav li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  color: #A1416A;
  background-color: #A1416A;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav li > a:hover, a:hover:before, a:focus{
	visibility: visible;
	text-decoration: none;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
	color: #A1416A;
}

.box {
	border-radius: 4px;
	padding: 15px 0;
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
}

.box:hover {
	background-color: #A1416A;
}

.box p, h4 {
	color: white;
	margin: 0;
	letter-spacing: 0.2px;
	font-weight: bold;
}

.projects {
	height: 140px;
	width: 220px;
	margin: 20px;
}

#main {
	margin: 100px 0;
}

nav {
	margin-top: 25px;
}

#sideNav img {
	border-radius: 3px;
}

main {
	margin-top: 15px;
}

main h1 {
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 44px;
}

#name {
	font-size: 34px;
	font-weight: bold;
}

h5 {
	display: inline-block;
}

footer {
	margin: 20px 0px;
	padding: 20px 10px;
	background-color: #F9F9F9;
}

#footerLinks {
	float: right;
}

#footerLinks li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}

#footerLinks > li a:hover, a:focus {
	text-decoration: none;
	color: #A1416A;
}


/*MEDIA QUERIES*/
@media(max-width: 1366px) {
	.box p {
		font-size: 14px;
	}
}

@media(max-width: 1024px) {
	.box h4 {
		font-size: 14px;
	}
	.box p {
		font-size: 10px;
	}
}

@media(max-width: 768px) {
	#sideNav img {
		width: 354px;
		height: 531px;
		margin: 0 auto;
	}
	.projects {
		height: 180px;
		width: 300px;
	}
	.col-xs-4 {
		width: 50%;
	}
	.box p {
		font-size: 14px;
	}
	.box h4 {
		font-size: 18px;
	}
	footer {
		padding: 10px 5px;
	}
	.fa-2x {
		font-size: 1em;
	}
	h5 {
		margin: 10px 0 0 120px;
	}
}

@media(max-width: 414px) {
	#sideNav img {
		width: 290px;
		height: 420px;
	}
	#footerLinks {
		float: none;
	}
	footer {
		padding: 0;
	}
	.col-xs-4 {
		width: 100%;
	}
	#main {
		margin: 50px 0 100px 0;
	}
}
