<div id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center animated fadeInDown">
				<h1>About</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 text-center animated fadeInUp">
				<p>I'm a tattoo-loving, raspberri pi-making, muay thai-fighting, <span>Front-End Developer</span> specializing in <span>JavaScript, jQuery, AngularJS, Bootstrap, HTML5, CSS3 and Sass</span>. I also enjoy the process of wireframing with <span>Sketch and Balsamiq</span>. My never-ending passion for wanting to learn more has pushed me to gain skills in <span>Angular 2</span> along with the rest of the <span>MEAN Stack</span>.
				<br>
				<br>
				I've demonstrated a can-do attitude in all of my past jobs, whether it's managing 60 people in retail or wearing multiple hats at a startup in the edtech sector. I love building websites as well as web applications that challenge my logical abilities and I would love doing the same for you! Connect with me <span><a target="_blank" href="mailto:nguyendylan92@gmail.com">here</a></span>.
				</p>
			</div>
		</div>
		
		<!-- <div class="row">
			<div class="col-xs-12">
				<div class="animated fadeInLeft" id="googleMaps"></div>
			</div>
		</div> -->
	</div>
</div>