<div id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center animated fadeInDown">
				<h1>About</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center animated fadeInUp">
			<p>I'm a tattoo-loving, raspberri pi-making, muay thai-fighting <span>Front-End Developer</span> specializing in <span>JavaScript, jQuery, AngularJS, Bootstrap, HTML5, and CSS3</span>. I also enjoy the process of wireframing with <span>Sketch and Balsamiq</span>.</p>
			</div>
		</div>
	</div>
</div>