<div id="main">
	<div class="row">
		<div class="col-xs-12 text-center animated fadeInDown">
			<h1>Portfolio</h1>
		</div>
	</div>
	<div class="container-fluid" id="projectContainer">
		<div class="col-xs-4 text-center box" ng-animate="'animate'" ng-repeat="project in projectData">
			<a ng-href="{{project.link}}.html" target="_blank"><img ng-src="img/projects/{{project.image}}.png" class="animated fadeIn projects"></a>
			<h4>{{project.name}}</h4>
			<p>{{project.tech}}</p>
		</div>
	</div>
</div>